
@{
    ViewBag.Title = "Home";
}

<br />
<div style="padding:10px;">
	<input type="button" value="Manage Landmarks" class="btn btn-default" onclick="window.location.href='/Admin/Landmarks'" />
	<input type="button" value="Manage Datasets" class="btn btn-default" onclick="window.location.href='/Admin/Datasets'" />
</div>
