@model IRR.Models.Landmark

@{
    ViewBag.Title = "NewLandmark";
}

<h2>New Landmark</h2>

@Html.Partial("Partial/_NewLandmarkPartial")

@Html.ActionLink("Back to Landmarks", "Landmarks", "Admin")


