@section loginStyle
{
    <link href="@Url.Content("~/Content/login.css")" rel="stylesheet" type="text/css" />
}

@{
    ViewBag.Title = "AccountCreated";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="wrap">
                <p class="form-title" style="color: black">
                    Account created successful, you can now login with your username and password.
                </p>
            </div>
        </div>
    </div>
</div>


